.recently-viewed-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: static;
}

.recently-viewed-header img{
    height: 12px;
    margin-right: 10px;
}

.recently-viewed-header p{
    margin-bottom: 0;
    font-size: 13px;
}

.recently-viewed-tab{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.recently-viewed-tab .icon{
    background-color: lightblue;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.recently-viewed-tab .title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recently-viewed-tab .title{
    font-size: 14px;
}

.recently-viewed-tab .subtitle{
    font-size: 12px;
    opacity: 70%;
    text-align: left;
}