.workspace-content{
    padding-top: 20px;
    padding-left: 12px; 
    padding-right: 12px; 
}

.workspace-content .workspace-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workspace-content .icon{
    height: 50px;
    width: 50px;
    margin-right: 12px;
    background-color: yellow;
}

.workspace-content .title-bar{
    display: flex;
    flex-direction: column;
}

.workspace-content .invite-button{
    background-color: rgb(153, 153, 248);;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    border-radius: 5px;
    height: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
    margin-right: 20px;
    cursor: pointer;
}

.workspace-content .invite-button:hover{
    background-color: rgba(131, 131, 255, 0.5);
}

.workspace-content .invite-button p{
    display: block;
    margin: 0;
    font-size: 12px;
}

.workspace-content .dividing-line{
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.workspace-content .workspace-boards-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
    width: 100%;
    margin-top: 15px;
}

.workspace-content .workspace-boards-section .board:first-child{
    justify-content: center;
    align-items: center;
}

.workspace-content .workspace-boards-section .board {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 14px;
    cursor: pointer;
}

.workspace-content .workspace-boards-section .board:hover{
    background-color: #ccc;
}

.workspace-content .workspace-boards-section .board p{
    margin: 0;
}

.workspace-content .view-closed-boards-button{
    background-color: rgb(153, 153, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 6px;
    border-radius: 5px;
    height: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
    margin-right: 20px;
    width: 150px;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
    margin-top: 35px;
}

.workspace-content .view-closed-boards-button p{
    display: block;
    margin: 0;
    font-size: 12px;
}