.sidebar {
  width: 350px;
  height: calc(100vh - 45px); /* Full height minus the navbar */
  background-color: #FFFFFF; 
  padding: 20px;
  position: fixed;
  top: 45px; /* Below the navbar */
  left: 0;
  user-select: none;
  overflow-y: auto;
}

.sidebar h3 {
  color: #36454F;
  margin-bottom: 20px;
}

.sidebar a{
  font-size: 16px;
}

.sidebar button{
  border: none;
  background: none;
  margin: 0 auto;
  width: 100%;
}

.sidebar nav a, .sidebar button{
    display: block;
    color: #36454F;
    padding: 10px 0;
    padding-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 3px;
  }
  
  .sidebar nav a:hover,
  .sidebar button:hover,
  .sidebar nav .active-link {
    background-color: #4b49ac;
    color: #ffffff;
  }

  .sidebar hr{
    background-color: grey;
    height: 2px;
    margin-top: -1.5px;
  }


  .sidebar .workspace-item {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    padding-left: 0px;
    border-radius: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .sidebar .workspace-item .current-workspace{
    color: #4b49ac;
  }

  .sidebar .workspace-item .current-workspace:hover{
    color: white;
    background-color: #4b49ac;
  }

  .sidebar .workspace-item .title-bar:hover{
    background-color: #4b49ac;
    color: #ffffff;
  }

  .sidebar .workspace-item .title-bar{
    padding: 8px 10px;
    display: flex;
    align-items: center;
  }

  .sidebar .workspace-item .title-bar .icon{
    background-color: yellow;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 4px;
  }

  .sidebar .workspace-item .title-bar img{
    height: 18px;
    margin-left: auto;
  }

  .sidebar .workspaces-list-container{
    display: flex;
    flex-direction: column;
  }

  .sidebar .workspace-dropdown-menu {
    list-style-type: none;
    padding-bottom: 0px;
  }

  .sidebar .workspace-dropdown-menu a,
  .sidebar .workspace-dropdown-menu li{
    margin-bottom: 0px;
    width: 100%;
  }

.sidebar .workspace-dropdown-menu .tab{
  display: flex;
  align-items: center;
}

.sidebar .workspace-dropdown-menu img{
  height: 22px;
  margin-right: 8px;
}

.sidebar .workspace-dropdown-menu .default-icon:hover{
  display: none;
}