.navigation-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF; /* #333*/
    padding: 8px 7%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation-bar > .logo{
    cursor: pointer;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 20px;
}

.navigation-bar > ul{
    flex: 1;
    list-style: none;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.navigation-bar ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.navigation-bar-links a{
    color: black;
    text-decoration: none;
}

.navigation-bar .profile-icon{
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}

.navigation-bar .search-box{
    display: flex;
    align-items: center;
    background: #fff;
    border: 1.5px solid black;
    padding: 2px 15px;
    border-radius: 50px;
}

.navigation-bar .search-box input{
    padding: 1.5px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #36454F;
    font-size: 16px;
    max-width: 200px;
}

.navigation-bar .search-box input::placeholder{
    color: #36454F;
}

.navigation-bar .search-box img{
    width: 20px;
    cursor: pointer;
}

.navigation-bar .dropdown-menuu{
    position: absolute;
    left: 0;
    width: 300px;
    border-radius: 5px;
    background-color: #444;
    list-style: none;
    margin-top: 0.6rem;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation-bar .head-link{
    position: relative;
}

.navigation-bar .dropdown-menuu li a{
    color: white;
    text-decoration: none;
}

.navigation-bar .dropdown-menuu li a:hover{
    text-decoration: underline;
}

.navigation-bar .dropdown-divider{
    background-color: rgba(255,255,255, 0.2);
    width: 100%;
    height: 0.1px;
    margin: 15px 0;
}

.navigation-bar .workspaces-dropdown-tab{
    width: 100%;
    margin-left: 15px;
    margin-bottom: 15px;
    color: white;
    max-height: 200px;
    overflow-y: auto;
}

.navigation-bar .workspaces-dropdown-tab:first-of-type,
.navigation-bar .workspaces-dropdown-tab:last-of-type {
    margin-bottom: 0;
}

.navigation-bar .workspaces-dropdown-tab .title-text{
    color: white;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    opacity: 80%;
}

.navigation-bar .workspaces-dropdown-sub-tab{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.navigation-bar .workspaces-dropdown-sub-tab:last-child{
    margin-bottom: 0px;
}

.navigation-bar .workspaces-dropdown-sub-tab .icon{
    background-color: lightblue;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.navigation-bar .workspaces-dropdown-sub-tab .title a{
    font-size: 14px;
    color: white;
}

/* ------------------------ */
.navigation-bar .products-dropdown-tab{
    width: 100%;
    margin-left: 15px;
    margin-bottom: 15px;
    color: white;
    max-height: 200px;
    overflow-y: auto;
}

.navigation-bar .products-dropdown-tab:first-of-type,
.navigation-bar .products-dropdown-tab:last-of-type {
    margin-bottom: 0;
}

.navigation-bar .products-dropdown-tab .title-text{
    color: white;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    opacity: 80%;
}

.navigation-bar .products-dropdown-sub-tab{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.navigation-bar .products-dropdown-sub-tab:last-child{
    margin-bottom: 0px;
}

.navigation-bar .products-dropdown-sub-tab .icon{
    background-color: lightblue;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.navigation-bar .products-dropdown-sub-tab .title a{
    font-size: 14px;
    color: white;
}

/* ------------------------------- */

.navigation-bar .recent-dropdown-tab{
    display: flex;
    color: white;
    margin-left: 11px;
    align-items: center;
    margin-bottom: 5px;
    padding: 4px 5px;
    border-radius: 5px;
}

.navigation-bar .recent-dropdown-tab:hover{
    background-color: #1d3545;
}

.navigation-bar .recent-dropdown-tab:first-of-type{
    padding-top: 0;
    margin-top: 5PX;
}

.navigation-bar .recent-dropdown-tab:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
}


.navigation-bar .recent-dropdown-tab .title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-bar .recent-dropdown-tab .icon{
    width: 40px;
    height: 30px;
    margin-right: 8px;
    background-color: lightblue;
    border-radius: 5px;
}

.navigation-bar .recent-dropdown-tab .title{
    font-size: 14px;
    text-align: left;
}

.navigation-bar .recent-dropdown-tab .subtitle{
    font-size: 12px;
    opacity: 70%;
    text-align: left;
}

.navigation-bar ul.dropdown-menuu.favorites{
    max-height: 200px;
    overflow-y: auto;
    display: block;
    padding-top: 3px;
    padding-bottom: 10px !important;
}

.navigation-bar .favorites-dropdown-tab{
    display: flex;
    color: white;
    margin-left: 11px;
    align-items: center;
    margin-bottom: 5px;
    padding: 4px 5px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.navigation-bar .favorites-dropdown-tab:hover{
    background-color: #1d3545;
}

.navigation-bar .favorites-dropdown-tab:first-of-type{
    padding-top: 0;
}

.navigation-bar .favorites-dropdown-tab:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
}


.navigation-bar .favorites-dropdown-tab .title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-bar .favorites-dropdown-tab .icon{
    width: 40px;
    height: 30px;
    margin-right: 8px;
    background-color: lightblue;
    border-radius: 5px;
}

.navigation-bar .favorites-dropdown-tab .title{
    font-size: 14px;
    text-align: left;
}

.navigation-bar .favorites-dropdown-tab .subtitle{
    font-size: 12px;
    opacity: 70%;
    text-align: left;
}

.navigation-bar .starred-text{
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    color: white;
    font-size: 14px;
}