.navigation-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff; /* #333*/
    padding: 8px 7%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.logo{
    cursor: pointer;
    margin: 0 auto;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.profile-icon{
    width: 45px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 2px 15px;
    border-radius: 50px;
}

.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder{
    color: white;
}

.search-box img{
    width: 20px;
    cursor: pointer;
}