.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex: 1;
  }
  
  .dashboard-content {
    flex: 1;
    margin-left: 350px;
    margin-top: 45px;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .dashboard-content .add-product-form{
    
  }
  