@font-face {
  font-family: 'Poppins';
  src: url('./components/assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./components/assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  margin: 0;
  font-family: 'Poppins';
  /* background: linear-gradient(#2a00B7, #42006c); */
}

.containerr{
  width: 100vw;
  max-height: 100vh;
  background: #d9e6fe;
  overflow-x: hidden;
  scroll-padding: 30px;
  scrollbar-color: #70a1fd #d9e6fe;
  /* background: #ced8ff; */
}

