*{
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  /* background: linear-gradient(#2a00B7, #42006c); */
}

.containerr{
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
}

